assets/temp/
obj/
libs/
make/
data/
docs/doxygen-html
docs/html
docs/rst
docs/xml
docs/doxyrest/sphinx/__pycache__
projects/android-project/.gradle
projects/android-project/build
projects/android-project/local.properties
projects/android-project/app/.externalNativeBuild
projects/android-project/app/build
projects/android-project/app/src/main/assets
projects/android-project-ant/bin
projects/android-project-ant/obj
projects/android-project-ant/data
projects/android-project-ant/gen
projects/android-project-ant/assets
projects/android-project-ant/libs
src/examples/strobe
src/thirdparty/SDL2-*
*.dll
bin/ee*
bin/eepp-*
bin/ecode*
ee.tag
log.log
/external_projects*.lua
*.user
*.filters
*.suo
*.DS_Store
*.pdb
*.pyc
src/thirdparty/SDL2/include/SDL2
projects/ios/eepp.app/assets
projects/ios/eepp.app/eepp
bin/*.so
bin/*.dylib
*.iml
.idea/
eepp.kdev4
eepp.tags
eepp.geany
/bin/assets/icon/ee.aps
/bin/.htaccess
.qtc_clangd
/projects/macos/ecode/ecode.app
/bin/assets/icon/ee.iconset
ecode.dmg
/projects/linux/ecode/ecode.app
*.AppImage
/projects/mingw32/ecode/ecode/
/projects/mingw32/ecode/ecode-*
*.dmg
/bin/eterm*
/compile_flags.txt
/projects/**/*.7z
/projects/**/*.tar.gz
/projects/**/*.zip
/.ecode/.fstreeviewignore
/.ecode/.prjallowed
/.cache/
/compile_commands.json
/bin/unit_tests/eepp*
/bin/unit_tests/lib*
