#define EE_SDL_VERSION_2
#define EE_X11_PLATFORM
#define EE_DEBUG
#define EE_MEMORY_MANAGER
#define EE_SHADERS_SUPPORTED
#define EE_GLEW_AVAILABLE
#define EE_SSL_SUPPORT
#define EE_OPENSSL
#define EE_BACKEND_SDL2
#define EE_GL3_ENABLED
#define EE_BACKEND_SDL_ACTIVE
#define EE_MBEDTLS
#define DR_MP3_IMPLEMENTATION
#define DR_FLAC_IMPLEMENTATION
#define STB_IMAGE_IMPLEMENTATION
