#define EE_BACKEND_SDL_ACTIVE
#define EE_BACKEND_SFML_ACTIVE
#define EE_SDL_VERSION_2
#define EE_SDL_VERSION_1_2
#define EE_BACKEND_SDL2
#define EE_BACKEND_SDL_1_2
#define EE_X11_PLATFORM
#define EE_DEBUG
#define EE_LIBSNDFILE_ENABLED
#define EE_MEMORY_MANAGER
#define EE_GL3_ENABLED 1
#define EE_SHADERS_SUPPORTED
#define EE_GLEW_AVAILABLE
