<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>ecode</string>
  <key>CFBundleExecutable</key>
  <string>run.sh</string>
  <key>CFBundleIdentifier</key>
  <string>ensoft.dev</string>
  <key>CFBundleName</key>
  <string>ecode</string>
  <key>CFBundleIconFile</key>
  <string>ecode.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>0.2</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>0</integer>
  <key>IFMinorVersion</key>
  <integer>1</integer>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSMainNibFile</key>
  <string></string>
</dict>
</plist>
