body {
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	font-size: 11px;
	color: black;
	background-color: white;
}

h1 {
	font-size: 2em;
	margin-top: 0.67em;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-right: 0;
	font-weight: bold;
}

h3 {
	font-size: 1.17em;
	margin-top: 1em;
	margin-right: 0;
	font-weight: bold;
}

h4 {
	font-size: 1em;
	margin-top: 1.33em;
	margin-right: 0;
	font-weight: bold;
}

h5 {
	font-size: 0.83em;
	margin-top: 1.67em;
	margin-right: 0;
	font-weight: bold;
}

h6 {
	font-size: 0.67em;
	margin-top: 1.67em;
	margin-right: 0;
	font-weight: bold;
}

p {
	margin-top: 1em;
	margin-right: 0;
}

blockquote {
	margin-top: 1em;
	margin-right: 0;
}

dd {
	margin-top: 1em;
	margin-right: 0;
}

dl {
	margin-top: 1em;
	margin-right: 0;
}

ol {
	margin-top: 1em;
	margin-right: 0;
}

ul {
	margin-top: 1em;
	margin-right: 0;
}

figure {
	margin-top: 1em;
	margin-right: 0;
}

pre {
	margin-top: 1em;
	margin-right: 0;
}

blockquote {
	margin-top: 1em;
	margin-right: 40px;
}

pre {
	font-family: monospace;
	font-size: 1em;
}

code {
	font-family: monospace;
	font-size: 1em;
}

kbd {
	font-family: monospace;
	font-size: 1em;
}

samp {
	font-family: monospace;
	font-size: 1em;
}

tt {
	font-family: monospace;
	font-size: 1em;
}

var {
	font-family: monospace;
	font-size: 1em;
}

pre {
	margin-top: 1em;
	margin-right: 0;
}

ul {
	margin-top: 1em;
	margin-right: 0;
}

ol {
	list-style-type: decimal;
	margin-top: 1em;
	margin-right: 0;
}

li {
	text-align: match-parent;
}

b {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

em {
	font-style: italic;
}

cite {
	font-style: italic;
}

u {
	text-decoration: underline;
}

ins {
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

strike {
	text-decoration: line-through;
}

del {
	text-decoration: line-through;
}

big {
	font-size: 16dp;
}

small {
	font-size: 9dp;
}

sub {
	vertical-align: sub;
	font-size: 9dp;
}

sup {
	vertical-align: super;
	font-size: 9dp;
}

a:link {
	color: #0000EE;
	text-decoration: underline;
}

a:visited {
	color: #551A8B;
	text-decoration: underline;
}

th {
	font-weight: bold;
	text-align: center;
}

hr {
	margin-top: 0.5em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	color: gray;
}
