/* Global rules */
* {
	color: #E6E6E6FF;
	shadow-color: #32323296;
	selection-color: #000;
	selection-back-color: #969696FF;
}

TabWidget {
	tab-separation: -1dp;
}

TabWidget::TabBar {
	background-image: rectangle(solid, #2f3030);
	background-size: 100% 1dp;
	background-position-y: bottom;
}

ProgressBar {
	display-percent: true;
	vertical-expand: true;
	movement-speed: 32dp 0dp;
	padding: 2dp;
}

MenuBar {
	padding-left: 1dp;
}

MenuBar::button {
	padding-left: 4dp;
	padding-right: 4dp;
}

Menu,
PopUpMenu {
	color: #E6E6E6FF;
	min-width: 100dp;
	min-icon-size: 24dp 24dp;
}

Menu::Item,
Menu::CheckBox,
Menu::Separator,
Menu::SubMenu {
	padding-left: 4dp;
}

Menu::Item::text,
Menu::CheckBox::text,
Menu::Separator::text,
Menu::SubMenu::text {
	padding-right: 4dp;
}

Menu::SubMenu::arrow {
	margin-right: 1dp;
}

Menu:hover,
PopUpMenu:hover,
Menu::Item:hover,
Menu::CheckBox:hover,
Menu::SubMenu:hover,
ListBox::item:hover,
Tab:selected,
Tab:hover,
Tab:pressed,
ListView::cell:hover, {
	color: #FFF;
}

Slider {
	half-slider: true;
}

ScrollBar {
	background-expand: true;
}

Window {
	window-flags: shadow;
	window-buttons-offset: -2dp 0;
}

Window::title {
	color: #E6E6E6FF;
	font-style: shadow;
}

Tab::text {
	padding-left: 4dp;
	padding-right: 4dp;
}

ListView {
	row-height: 16dp;
}

ListView::cell {
	padding-left: 4dp;
}

ListView::row {
	skin: listboxitem;
}

Tooltip {
	padding: 8dp;
	color: #020203;
}
