/* Global rules */
* {
	color: #E6E6E6FF;
	shadow-color: #32323296;
	selected-color: #000;
	selection-back-color: #969696FF;
}

TabWidget {
	tab-separation: -1dp;
	line-below-tabs: true;
	line-below-tabs-color: #2f3030;
	line-below-tabs-y-offset: 0dp;
}

ProgressBar {
	display-percent: true;
	vertical-expand: true;
	filler-padding: 2dp;
	movement-speed: 32 0;
}

WinMenu {
	button-margin: 12dp;
}

Menu,
PopUpMenu {
	color: #E6E6E6FF;
	min-width: 100dp;
	min-icon-space: 24dp;
	min-margin-right: 8dp;
}

Menu:hover,
PopUpMenu:hover,
Menu::Item:hover,
Menu::CheckBox:hover,
Menu::SubMenu:hover,
ListBox::item:hover,
Tab:selected,
Tab:hover,
Tab:pressed {
	color: #FFF;
}

Slider {
	half-slider: true;
}

ScrollBar {
	background-expand: true;
}

Window {
	window-flags: shadow;
	buttons-position-offset: -2 0;
}

Window::title {
	color: #E6E6E6FF;
	font-style: shadow;
}

Tooltip {
	padding: 8dp;
	color: black;
}
