/* Global rules */
* {
	color: #E6E6E6FF;
	shadow-color: #32323296;
	selected-color: #000;
	selection-back-color: #969696FF;
}

TabWidget {
	tab-separation: -1dp;
}

TabWidget::TabContainer {
	background-image: rectangle(solid, #2f3030);
	background-size: 100% 1dp;
	background-position-y: bottom;
}

ProgressBar {
	display-percent: true;
	vertical-expand: true;
	movement-speed: 32 0;
	padding: 2dp;
}

WinMenu {
	padding-left: 1dp;
}

WinMenu::button {
	padding-left: -3dp;
	padding-right: -3dp;
}

Menu,
PopUpMenu {
	color: #E6E6E6FF;
	min-width: 100dp;
	min-icon-space: 24dp;
	min-margin-right: 8dp;
}

Menu:hover,
PopUpMenu:hover,
Menu::Item:hover,
Menu::CheckBox:hover,
Menu::SubMenu:hover,
ListBox::item:hover,
Tab:selected,
Tab:hover,
Tab:pressed {
	color: #FFF;
}

Slider {
	half-slider: true;
}

ScrollBar {
	background-expand: true;
}

Window {
	window-flags: shadow;
	window-buttons-offset: -2dp 0;
}

Window::title {
	color: #E6E6E6FF;
	font-style: shadow;
}

Tooltip {
	padding: 8dp;
	color: #020203;
}
