[Desktop Entry]
Comment=
Exec=ecode
Icon=ecode
Name=ecode
NoDisplay=false
StartupNotify=true
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility;TextEditor;
