LinearLayout {
	layout-width: match_parent;
	layout-height: match_parent;
  background-color: #cecece;
}

Widget {
  clip: false;
  margin-left: 200dp;
  margin-top: 200dp;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100dp;
  border-color: rgba(255, 0, 0, 0.5);
  border-width: 20dp;
  border-type: outside;
  transition: all 0.5s;
}

Widget:hover {
  border-radius: 20dp;
  border-width: 2dp;
}
