name: Linux

on: [push, pull_request]

jobs:
  Linux:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref }}
        fetch-depth: 2
    - name: Checkout submodules
      run: |
        git submodule update --init --recursive
    - name: Install dependencies
      run: |
        sudo add-apt-repository -y universe
        sudo add-apt-repository -y multiverse
        sudo apt update
        sudo apt install -y gcc-13 g++-13 wget libsdl2-2.0-0 libsdl2-dev mesa-utils xvfb
        wget https://cdn.ensoft.dev/eepp-assets/premake-5.0.0-beta6-linux.tar.gz
        tar xvzf premake-5.0.0-beta6-linux.tar.gz
    - name: Build
      run: |
        ./premake5 --disable-static-build gmake
        cd make/linux
        make all -j$(nproc) -e config=release_x86_64
    - name: Unit Tests
      run: |
        cd bin/unit_tests
        xvfb-run ./eepp-unit_tests
    - name: Upload artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: linux-test-output
        path: bin/unit_tests/output/*
